<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

	<sql id="select">
		SELECT
		id, pass, name, address, phone, allergy
		FROM userInfo
	</sql>

	<insert id="insertUser" parameterType="userVO">
		INSERT INTO userInfo (id, pass, name, address, phone, allergy)
		VALUES (#{id},#{pass},#{name},#{address},#{phone},#{allergy})
	</insert>
	
	<update id="updateUser" parameterType="userVO">
		UPDATE userInfo
		SET pass = #{pass}, name=#{name}, address = #{address}, phone=#{phone}, allergy=#{allergy}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteUser" parameterType="userVO">
		DELETE FROM userInfo
		WHERE id = #{id}
	</delete>

	<select id="login" parameterType="userVO" resultType="userVO">
		<include refid="select"/>
		WHERE id = #{id} AND pass = #{pass}
	</select>
</mapper>