<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="FoodMapper">

	<sql id="select">
		SELECT
		code, name, supportpereat, calory, carbo,
		protein,
		fat, sugar, natrium,
		chole,
		fattyacid, transfat, maker,
		material, img,
		allergy
		FROM
		food
	</sql>

	<select id="selectAll" resultType="foodVO">
		SELECT
		*
		FROM
		food
	</select>

	<select id="selectByFoodName" parameterType="string" resultType="foodVO">
		<include refid="select" />
		WHERE name LIKE '%${value}%'
	</select>

	<select id="selectByFoodMaker" parameterType="string" resultType="foodVo">
		<include refid="select" />
		WHERE maker LIKE '%${value}%'
	</select>
	<select id="selectByFoodMaterial" parameterType="string"
		resultType="foodVO">
		<include refid="select" />
		WHERE material LIKE '%${value}%'
	</select>

	<select id="selectByFoodCode" parameterType="string"
		resultType="foodVO">
		<include refid="select" />
		WHERE code = #{value}
	</select>

	<insert id="insertFood" parameterType="foodVO">
		INSERT INTO food (code, name, supportpereat, calory, carbo, protein, fat, sugar, natrium, chole, fattyacid, transfat, maker, material, img, allergy)
		VALUES (#{code}, #{name}, #{supportpereat}, #{calory}, #{carbo}, #{protein}, #{fat}, #{sugar}, #{natrium}, #{chole}, #{fattyacid}, #{transfat}, #{maker}, #{material}, #{img}, #{allergy})
	</insert>
	
	<update id="updateFood"  parameterType="foodVO">
		UPDATE food 
		SET name=#{name}, supportpereat=#{supportpereat}, calory=#{calory}, carbo=#{carbo}, 
		protein=#{protein}, fat=#{fat}, sugar=#{sugar}, natrium=#{natrium}, chole=#{chole}, fattyacid=#{fattyacid}, 
		transfat=#{transfat}, maker=#{maker}, material=#{material}, img=#{img}, allergy=#{allergy}
		WHERE code = #{code}
	</update>
	
	<delete id="deleteFood" parameterType="int">
		DELETE FROM food
		WHERE code = #{value}
	</delete>
</mapper>